// booststrap customize start -------------

.form-control:focus {
  box-shadow: none;
  outline: 0;
  border: 1px solid var(--theme-color);
}

.tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: var(--theme-color);
}

.navbar-toggler {
  padding: 0.3rem 0.5rem;
}
.navbar-toggler-icon {
  background-image: url('https://i.ibb.co/wpY9hhL/icons8-menu-48.png');
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

// .offcanvas-header .btn-close {
//   background-image: url('https://i.ibb.co/hCSb87K/icons8-close-pane-96.png');
// }

.offcanvas-header .btn-close:focus {
  outline: 1px solid var(--theme-color) !important;
  box-shadow: none !important;
}

.nav-link {
  color: var(--dark-color);
  font-weight: 500;
}

// booststrap customize end -------------

// header section start -------------

.custom-toggler {
  border: 1px solid var(--theme-color);
}

.off-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-input {
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
  border-right: 0;
}
.search-input-icon {
  border-top-right-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
  border-left: 0;
  background-color: transparent;
  cursor: pointer;
}

.search-input-icon:hover {
  background-color: var(--theme-color);
  border: 1px solid var(--theme-color);
  color: #fff;
}

// header section end -------------

// transaction-section  start -------------
.transaction-section {
  background-color: #d9e0ec;
  padding: 3rem 0;
}

// transaction-section  end -------------

// top -collection-section  start -------------
.sm-compass {
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--success-color);
}

.top-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-middle.border-right {
  border-right: 1px solid lightgray;
}

.top-collection-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .bottom-border {
    border-bottom: 1px solid lightgray;
  }

  .top-pro {
    position: relative;
    .checkMark {
      position: absolute;
      top: 0;
      left: 70%;
    }
  }
}

// top -collection-section  end -------------

// collection-featured-section  start -------------
.collection-featured {
  background-color: #d9e0ec;
  padding: 3rem 0;
}

// collection-featured-section  end -------------

// responsive ness start -------------
@media only screen and (max-width: 1199px) {
  .off-form {
    flex-direction: column;
    align-items: flex-start;
    .nav-btns {
      margin-top: 1rem;
    }
  }
}
@media only screen and (max-width: 991px) {
  .top-collection-section,
  .top-middle {
    align-items: flex-start;
  }

  .top-middle.border-right {
    border-right: none;
  }
}

// responsive ness end -------------
